다음과 같은 절차에 따라 총 가격이 가장 비싼 가계를 출력하는 프로그램을 작성 하시오.

- 단가와 개수로 이루어진 데이터 프레임 생성
- 단가와 개수를 곱한 총 가격이 추가된 데이터 프레임 생성
- 총 가격이 가장 비싼 가계 출력

In [4]:
# 실습1

import numpy as np
import pandas as pd

arr = np.array([[1000,25],[280,120],[900,30]])

df = pd.DataFrame(arr, index=["store1","store2","store3"], columns=["unit price", "number"])
print(df)
print()

df["total price"] = df["unit price"] * df["number"]
print(df)

max_total = max(df["total price"])

df2 = df[df["total price"] == max_total]
df2

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600